* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(24, 24, 24);
}

.wrapper {
    position: relative;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

/*header*/

header {
    width: 100%;
    height: 60px;
    background-color: black;
}

.header_contain {
    width: 90%;
    margin: 0 auto;
    height: inherit;
    display: flex;
    align-items: center;
}

.header_contain h2 {
    font-family: 'Besley', serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Unbounded', cursive;
    color: rgb(196, 196, 196);
}

/*main*/

h1 {
    text-align: center;
    margin-top: 10%;
    font-size: 50px;

    font-family: 'Besley', serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Unbounded', cursive;
    color: rgb(196, 196, 196);
}

main {
    width: 100%;
    height: auto;

}

.main_box {
    border-radius: 10px;
    background-color: rgb(2, 2, 2);
    width: 1000px;
    height: 500px;
    margin: 100px auto;
    display: flex;
    flex-direction: row;
}

.pictuer{
    background-image: url(https://i.pinimg.com/564x/ce/70/79/ce707988c493cfff0b482dd3a38cb979.jpg);
    background-position: center;
    width: 400px;
    height: inherit;
    border-radius: 10px;
    z-index: 1;

    transition: .5s ease;
}

.autorisation__contain {
    width: 550px;
    height: inherit;
    margin: 0 auto;
}

/*Блок регистрации*/

.autoris-block___header {
    font-family: 'Besley', serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Unbounded', cursive;
    color: rgb(196, 196, 196);

    text-align: center;
    margin-top: 30px;
    font-size: 20px;
}

.log-up___form {
    width: 100%;
    height: 400px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    
    transition: .5s ease;
}

.log-up___input-box {
    height: 150px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.log-up___input-box span {
    color: white;
}

.log-up___inp {
    width: 100%;
    height: 30px;
    border: none;
    border-bottom: 1px solid rgb(196, 196, 196);
    background: none;
    outline: none;
    color: rgb(196, 196, 196);
    transition: .3s ease;
}

.checkbox-contain {
    width: 100%;
    height: auto;
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.checkbox-contain span {
    color: rgb(156, 156, 156);
    font-size: 10px;
    font-family: 'Besley', serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Unbounded', cursive;
    padding-left: 5px;
}

.sumbit-contain {
    width: 100%;
    height: auto;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sumbit-contain input {
    width: 200px;
    height: 35px;
    font-family: 'Besley', serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Unbounded', cursive;
    border: 1px solid rgb(156, 156, 156);
    border-radius: 10px;
    background: none;
    font-size: 13px;
    color: rgb(156, 156, 156);
    transition: .1s ease;
}
.sumbit-contain input:hover {
    cursor: pointer;
    background-color: rgba(240, 248, 255, 0.041);
}

.have-account-text {
    color: rgb(156, 156, 156);
    font-size: 14px;
    align-self: flex-end;

}

.login-changer {
    color: rgb(130, 141, 160);
    cursor: pointer;
    text-decoration: underline;
}


/* LOGIN */

.register_contain {
    width: 250px;
    height: inherit;
    margin: auto;
    transform: translate(-400px, -410px);
    z-index: 0;

    transition: .5s ease;
}

.log-in___form {
    width: 100%;
    height: 400px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    transform: scale(0.0);
    transition: .5s ease;
}

.log-in___input-box {
    height: 90px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.log-in___input-box span {
    color: white;
}

.log-in___inp {
    width: 100%;
    height: 30px;
    border: none;
    border-bottom: 1px solid rgb(196, 196, 196);
    background: none;
    outline: none;
    color: rgb(196, 196, 196);
}

.login-checkbox-contain {
    width: 100%;
    height: auto;
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.login-checkbox-contain span {
    color: rgb(156, 156, 156);
    font-size: 10px;
    font-family: 'Besley', serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Unbounded', cursive;
    padding-left: 5px;
}

.login-sumbit-contain {
    width: 100%;
    height: auto;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.login-sumbit-contain input {
    width: 200px;
    height: 35px;
    font-family: 'Besley', serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Unbounded', cursive;
    border: 1px solid rgb(156, 156, 156);
    border-radius: 10px;
    background: none;
    font-size: 13px;
    color: rgb(156, 156, 156);
    cursor: pointer;
    transition: .1s ease;
}
.login-sumbit-contain input:hover {
    background-color: rgba(240, 248, 255, 0.041);
}

.login-account-text {
    color: rgb(156, 156, 156);
    font-size: 14px;
    align-self: flex-end;

}

.logup-changer {
    color:  rgb(130, 141, 160);;
    cursor: pointer;
    text-decoration: underline;
}

/*footer*/


footer {
    width: 100%;
    height: 60px;
    background-color: black;
    margin-top: 10%;

    position: relative;
    left: 0;
    bottom: 0;
}

.footer_contain {
    width: 90%;
    height: inherit;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.footer_contain h2 {
    font-family: 'Besley', serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Unbounded', cursive;
    color: rgb(196, 196, 196);
    align-self: flex-end;
    margin-top: 15px;
}


/*scrollbar*/


body::-webkit-scrollbar {
    width: 12px;
  }
  
  body::-webkit-scrollbar-track {
    background: black;
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: rgb(196, 196, 196);
    border-radius: 20px;
    border: 3px solid black;
  }